In [2]:
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.master("local[1]").appName("Demo").getOrCreate()

# Read CSV File
df = spark.read.csv("C:/Users/venka/Data/zipcodes.csv")
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)

In [8]:
df = spark.read.csv('C:/Users/venka/Data/datacamp_ecommerce.csv')

In [7]:
df = spark.read.csv('C:/Users/venka/Data/adult_data.csv')
print(df.head(5))

[Row(_c0='x', _c1='age', _c2='workclass', _c3='fnlwgt', _c4='education', _c5='educational-num', _c6='marital-status', _c7='occupation', _c8='relationship', _c9='race', _c10='gender', _c11='capital-gain', _c12='capital-loss', _c13='hours-per-week', _c14='native-country', _c15='income'), Row(_c0='1', _c1='25', _c2='Private', _c3='226802', _c4='11th', _c5='7', _c6='Never-married', _c7='Machine-op-inspct', _c8='Own-child', _c9='Black', _c10='Male', _c11='0', _c12='0', _c13='40', _c14='United-States', _c15='<=50K'), Row(_c0='2', _c1='38', _c2='Private', _c3='89814', _c4='HS-grad', _c5='9', _c6='Married-civ-spouse', _c7='Farming-fishing', _c8='Husband', _c9='White', _c10='Male', _c11='0', _c12='0', _c13='50', _c14='United-States', _c15='<=50K'), Row(_c0='3', _c1='28', _c2='Local-gov', _c3='336951', _c4='Assoc-acdm', _c5='12', _c6='Married-civ-spouse', _c7='Protective-serv', _c8='Husband', _c9='White', _c10='Male', _c11='0', _c12='0', _c13='40', _c14='United-States', _c15='>50K'), Row(_c0='4', _c1='44', _c2='Private', _c3='160323', _c4='Some-college', _c5='10', _c6='Married-civ-spouse', _c7='Machine-op-inspct', _c8='Husband', _c9='Black', _c10='Male', _c11='7688', _c12='0', _c13='40', _c14='United-States', _c15='>50K')]